:root {
  --bg: white;
  --fg: black;
  --select-bg: cornflowerblue;
  --select-text: white;
  --bg-alt: orange;
  --bg-button: orangered;
  --serif: Georgia, 'Times New Roman', Times, serif;
  --sans-serif: --apple-system, sans-serif;
  --border-width: 2px;
}

html,
main,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: --apple-system, sans-serif;
  background: var(--bg);
  color: var(--fg);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: ;
}

.zz--heading {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.015rem;
}

.zz--title {
  position: relative;
  font-family: var(--serif);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin-right: -0.25rem;
  display: inline-block;
  width: 100%;
}

.zz--title::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -4px;
  height: var(--border-width);
  background-color: black;
}

.zz--strip {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  background-color: var(--bg-alt);
}

header.zz--strip {
  border-bottom: var(--border-width) solid var(--fg);
}

footer.zz--strip {
  border-top: var(--border-width) solid var(--fg);
}

.zz--strip span {
  padding: 0.1rem;
  flex: 1 1 auto;
  text-align: center;
}

.zz--strip span:nth-child(1),
.zz--strip span:nth-child(3) {
  background-color: transparent;
  color: var(--fg);
  flex: 0 0 6rem;
}

.zz--strip span:nth-child(2) {
  display: inline-block;
  background-color: orange;
}

.zz--strip span:nth-child(1) {
  text-align: left;
}
.zz--strip span:nth-child(3) {
  text-align: right;
}

.zz--display {
  display: flex;
}

.zz--display input {
  margin: 0 auto;
  border: none;
  appearance: none;
  border-bottom: var(--border-width) solid var(--fg);
  font-size: 48px;
  width: 60%;
  text-align: center;
}

.zz--controls {
  display: flex;
  padding: 1rem;
}

.zz--controls button {
  padding: 0.25rem 1rem;
  appearance: none;
  background-color: var(--bg-button);
  border-radius: 4px;
  color: var(--select-text);
  border: none;
  box-shadow: 2px 2px 0 2px var(--fg);
}

.zz--controls button:nth-child(1) {
  margin-left: auto;
}

.zz--controls button:nth-child(2) {
  margin: 0 0.5rem;
}

.zz--controls button:nth-child(3) {
  margin-right: auto;
}

/* svg */
.zz--cell-row rect {
  fill: transparent;
}
.zz--cell-row:nth-child(even) rect:nth-child(even) {
  stroke: turquoise;
}
.zz--cell-row:nth-child(odd) rect:nth-child(odd) {
  stroke: turquoise;
}

svg rect ~ text {
  font-size: 10px;
  font-family: var(--sans-serif);
  font-style: bold;
}

@keyframes enterer {
  0% {
    transform: rotate(-10deg) scale(0.5);
    opacity: 0;
  }
  90% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(1deg) scale(1);
  }
}

.enter {
  animation-name: enterer;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 200ms;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-direction: normal;
  transform-origin: 50% 50%;
}
